@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=New+Rocker&family=Unica+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=New+Rocker&family=Unica+One&display=swap');

body{
    font-family: Barlow Condensed;
    margin: 0;
    padding: 0;
}

.container{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background: linear-gradient(rgb(16, 16, 88), rgb(61, 59, 59));
    color: white;
}

.titulo-principal{
    text-align: center;
    font-size: 3em;
    font-family: Unica One, sans-serif;
    text-shadow: 2px 2px 4px rgb(2, 3, 2);
}

.banner{
    text-align: center;
    margin-bottom: 30px;
}

.banner img{
    max-width: 100%;
    height: auto;
}

.elenco{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.ator{
    text-align: center;
}

.ator img{
    width: 100px;
    height: 150px;
    object-fit: cover;
    border-radius: 7.5px;
    box-shadow: 5px 5px 10px black;
}

.titulo-sinopse{
    font-family: New Rocker, system-ui;
}
