body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

.container{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background: linear-gradient(rgb(16, 16, 88), black);
    color: white;
}

.titulo-principal{
    text-align: center;
    font-size: 3em;
}

.banner{
    text-align: center;
    margin-bottom: 30px;
}

.banner img{
    max-width: 100%;
    height: auto;
}

.elenco{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.ator{
    text-align: center;
}

.ator img{
    width: 100px;
    height: 150px;
    object-fit: cover;
    border-radius: 7.5px;
    box-shadow: 5px 5px 10px black;
}